
body {
	text-align: center; 
	font-family:  Arial, Verdana, Georgia;
	//padding-left: 365px;
	//padding-right: 365px;
	background-color: black;
	overflow: hidden;


			{
				padding:0;
				margin:0;
				background: url(images/wave.jpg);
				background-size: 100% 100%;
			} 


			.rain
			{
				height: 100%;
				background: url(images/rain.png);
				animation: rain .3s linear infinite;
			}


		.rain:before
		{
			content: '';
			position:absolute;
			width:100%;
			height:100%;
			background: white;
			animation: lighting 4s linear infinite;
			opacity:0;

		}  



		@keyframes rain 
		{
			0%
			{
				background-position: 0% 0%;
			}

			100%
			{
				background-position: 20% 150%;
			}
		} 



		@keyframes lighting
		{
			0%
			{
				opacity:0;
			}
			10%
			{
				opacity:0;
			}
			11%
			{
				opacity:1;
			}
			14%
			{
				opacity:0;
			}
			20%
			{
				opacity:0;
			}
			21%
			{
				opacity:1;
			}
			24%
			{
				opacity:0;
			}
			104%
			{
				opacity:0;
			}
		} 



}


ul {
	//list-style-type: none; 
	//border: 1px solid black;
}


li {
	display: inline; 
	padding: 20px;	
}

#title {
	font-size: 4em;
	font-weight: 500;
	margin-top: 10px;
	margin-bottom: 0px;
	opacity: 0.86;
	//border: 1px solid black;
	line-height: 45px;
	//font-family: 'Raleway', sans-serif;
	color: darkgoldenrod;

}

#subtitle {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 32px;
	font-weight: 1;
	padding-left: 35px;
	//border: 1px solid black;	
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	color: darkgoldenrod;	
}


a {
	text-decoration: none; 
	color: darkgoldenrod;
}

a:hover {
 
	color: ;
}


p {
	text-align: left;
	font-family: 'Raleway', sans-serif;
}


/* Centered text */
.centered {
  position: absolute;
  top: 17%;
  left: 90%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
 
}


