
body {
	text-align: center; 
	font-family:  Arial, Verdana, Georgia;
	//padding-left: 365px;
	//padding-right: 365px;
}


ul {
	//list-style-type: none; 
	//border: 1px solid black;
}


li {
	display: inline; 
	padding: 20px;	
}

#title {
	font-size: 4em;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 0px;
	opacity: 0.66;
	//border: 1px solid black;
	line-height: 45px;
	//font-family: 'Raleway', sans-serif;
}

#subtitle {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 0px;
	letter-spacing: 34px;
	font-weight: 1;
	padding-left: 35px;
	//border: 1px solid black;	
	cursor: pointer;
	font-family: 'Raleway', sans-serif;	
}


a {
	text-decoration: none; 
	color: black;
}

a:hover {
 
	color: ;
}


p {
	text-align: left;
	font-family: 'Raleway', sans-serif;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
 
}

.form {
	text-align: left;
}

input {
	padding: 10px;
	margin: 10px

	
}